.conten1{
   /* background-color: brown;*/
    width: 50%;
    margin: 3em auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px;
    border-radius: 7px;

}

.conten2{
    width: 50%;
    margin: 3em auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px;
    border-radius: 7px;
}

.conten3{
    width: 50%;
    margin: 3em auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px;
    border-radius: 7px;
}

.conten4{
    width: 50%;
    margin: 3em auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px;
    border-radius: 7px;
}
.conten5{
    width: 50%;
    margin: 3em auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px;
    border-radius: 7px;
}