nav{
    background-color: black;
    
    
}
nav img{
    width: 250px;
    
}
nav ul{
    display: flex;
    align-items: center;
    /*background-color: azure;*/
    margin: auto;
    
}
nav ul li{
    width: 200px;
    list-style: none;
    color: aliceblue;
}
.BtnIngresar{
    margin: auto;
}
.navegador
{
    display: flex;
    margin: auto;
    width: 50%;
   /* background-color: gray;*/
}
