body{
    background-color: rgba(240, 240, 240, 0.918);
}
/* ///////////////////////GRID/////////////////////// */
.generalcontainer{
    background-color: rgb(236, 236, 236);
    display: grid;
    grid-template-columns: 15% 85%;
}

.generalcontainer .containerOpciones{
    width: 100%;
    background-color: rgb(54, 54, 94);
    height: 50em;
    color: white;
    
}
.containerOpciones img{
    width: 250px;
}

.uls{
list-style: none;
background-color: bisque;
width: 50%;
height: 90%;
margin: auto;

}
.containerOpciones .uls li{
   background-color: blueviolet;
    padding-bottom: 2em;
    margin: 2em auto;
    
   
}
.uls li a{
    color: white;
    text-decoration: none;
}
.uls li a:hover{
    color: white;
    text-decoration: none;
}

.principal{
    background-color: brown;
    width: 50%;
    height: 3em;
    text-align: center;
    margin: 1em auto;
}
.estadovacante{
    background-color: rgb(21, 43, 43);
    width: 50%;
    margin: auto;
}
.filters{
    background-color: rgb(43, 105, 107);
    margin: auto;
}
.formularioIndex{
    margin: auto;
}
.filtro{
    background-color: blue;
    width: 50%;
    margin: auto;
}

.containerVacants{
    background-color: chocolate;
    display: flex;
    margin: auto;
    width: 80%;

}
.containerVacants p{
    margin: auto;
}
.container1{
   background-color: coral;
    width: 70%;
    margin: auto;
}
.MainContainerJob{
    background-color: white;
    width: 90%;
    margin: 1em auto;
    border-radius: 7px;
    padding: 1em 1em;
    border: solid 1px;
    border-color: lightgray;
}
.containerdivs{
    background-color: chocolate;
    width: 90%;
    margin: auto;
}
.MainContainerJob ul li{
    list-style: none;
    line-height: 1em;
}
.ContainerCandidatos{
    width: 70%;
    height: 8em;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border: solid 1px rgb(240, 240, 240);
}
.candidatos{
    width: 50%;
    background-color: blue;
    border: solid 1px;
    margin: auto;
}
.infoUsuario ul li{
    display: flex;
    margin: auto;
}
.ContainerHV{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 8em;
    margin: 3em auto;
    border: solid 1px rgb(240, 240, 240);
    border-radius: 7px;
}
.formHV form input{
    margin: auto;
}

.InfoPerfilBox{
    background-color: rgb(247, 247, 247);
    width: 90%;
    margin: 5em auto;
    text-align: center;
    border-radius: 7px;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
}
.imgPerfil{
    width: 150px;
    height: 150px;
    border: solid 3px;
    border-radius: 100%;
}
.InfoBox .ImgCV{

    width: 60px;
}
.overflowcontainer{
    background-color: rgb(122, 111, 103);
    width: 80%;
    height: 40em;
    margin: auto;
    overflow: auto;
}
