#footers2{
  /* background-color: rgb(95, 88, 88);*/
    color: rgb(3, 3, 3);
    position: absolute;
    width: 100%;
    margin-top: 35%;
    
    
    
    
    
    
}
.credits{
    width: 60%;
    /*background-color: gray;*/
    margin: auto;
    padding-top: 4em;
    padding-bottom: 2em;
}
.credits ul{
    display: flex;
    margin: auto;
}
.credits ul li{
    margin: auto;
}
