.registEmployeed{
    
        width: 30%;
        /*background-color: blue;*/
        margin: 2em auto;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        border: solid 1px;
        border-radius: 7px;
    
    
}