
.navBox{
  width: 70%;
 /* background-color: chartreuse;*/
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  
}

nav{
  margin: auto;
  width: 80%;
  
}
.navBox nav ul{
  
 /* background-color: blue;*/
  margin: auto;
  
  width: 80%;
  display: flex;
  

}
.navBox nav ul li {
  
  align-items: center;
  margin: auto;
  list-style: none;

}

.Logo img{
  width: 300px;
  text-align: center;
  /*background-color: brown;*/
  margin: auto;
  
}
.login{
  display: flex;
  border: solid 1px;
  /*background-color: rgb(59, 59, 134);*/
  border-radius: 7px;
  padding-left: 1em ;
  padding-right: 1em ;
}
.login2{
  
  border: solid 1px;
  /*background-color: rgb(59, 59, 134);*/
  border-radius: 7px;
  padding-left: 1em ;
  padding-right: 1em ;
}
.login4{
  display: flex;
  /*background-color: brown;*/
}



